    <footer class="footer">
        <div class="footer-container">
            <div class="footer-col">
                <h4 class="footer-heading">{{ languageService.t(lang, 'quickinfo') }}</h4>
                <ul class="footer-list">
                    <li><a href="#home">{{ languageService.t(lang, 'home') }}</a></li>
                    <li><a href="#menu">{{ languageService.t(lang, 'menu') }}</a></li>
                    <li><a href="#contact">{{ languageService.t(lang, 'contactus') }}</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 class="footer-heading">{{ languageService.t(lang, 'information') }}</h4>
                <ul class="footer-list">
                    <li><a href="tel:+4751668082">+47 51 66 80 82</a></li>
                    <li><a href="mailto:shahi.mahal2026@hotmail.com">shahi.mahal2026@hotmail.com</a></li>
                    <li>
                        <p class="footer-address">Mauritz Kartevoldsplass 1<br>4306 ,Sandnes</p>
                    </li>
                </ul>
                <div class="social-icons">
                    <a href="https://www.facebook.com/people/Shaahi-Mahall-Indisk-Restaurant/61576510912597/" target="_blank" class="social-icon">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/shaahi.mahall/" target="_blank" class="social-icon">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer-col" style="flex: 0.8;">
                <ul class="footer-list">
                    <li><a href="https://www.foodsted.no/webmail" target="_blank">Webmail</a></li>
                </ul>
            </div>
            <div class="footer-col" style="flex: 1.5;">
                <h4 class="footer-heading">{{ languageService.t(lang, 'app') }}</h4>
                <div class="app-downloads">
                    <div class="app-column">
                        <a href="https://play.google.com/store/apps/details?id=com.foodsted.apps" target="_blank"><img src="./images/playStore.png" alt="Google Play" class="app-badge"> </a>
                        <img src="./images/playstoreQr.png" alt="Google Play QR Code" class="app-qr">
                    </div>
                    <div class="app-column">
                        <a href="https://apps.apple.com/us/app/foodsted/id1530698059" target="_blank"><img src="./images/appStore.png" alt="App Store" class="app-badge"></a>
                        <img src="./images/appstoreQr.png" alt="App Store QR Code" class="app-qr">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-wrapper">
            <div class="footer-bottom">
                <div class="copyright">
                    {{ languageService.t(lang, 'allrightrevserved') }}
                </div>
                <div class="powered-by">
                    <img src="./images/foodstedicon.png" alt="FoodSted Logo">
                    <span>{{ languageService.t(lang, 'poweredby') }}</span>
                </div>
            </div>
    
    <button id="moveTopBtn" title="Go to top">↑</button>
        </div>
    </footer>